.LandingHeader {
  position: absolute;
  width: 100%;
  padding: 35px 0;
  z-index: 9999;
  transition: all 0.5s ease-out;
  font-family: Poppins;
}

.LandingHeader__brand {
  font-weight: 700;
  height: 52px;
  display: flex;
  line-height: 52px;
  font-size: 1.375rem;
  color: #fff;
  align-self: center;
  span {
    color: $landing-purple;
  }
}

.LandingHeader__logo {
  max-width: 100%;
  height: 52px;
}
.LandingHeader__nav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.LandingHeader__nav__nav-item {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 0.75rem;
  color: #fff;
  align-self: center;
  cursor: pointer;
  transition: 0.3s all ease-out;
  text-transform: uppercase;
  &:hover {
    color: $landing-purple;
  }
}

.LandingHeader__nav__nav-item--selected {
  color: $landing-purple;
}

.LandingHeader__nav__join-btn {
  padding: 11px 25px;
  color: #fff;
  border-radius: 5px;
  user-select: none;
  height: 42px;
  cursor: pointer;
  letter-spacing: 2px;
  background-color: $landing-purple;
  font-weight: 500;
  font-size: 0.75rem;
  transition: 0.3s all ease-in-out;
  &:hover {
    box-shadow: 0px 5px 30px 0px rgba(48, 79, 254, 0.5);
  }
}
