.ThemeLight {
  .SearchBar__search-bar {
    background-color: rgba(199, 209, 216, 0.3);
    border: 1px solid transparent;
    color: #737f8d;
    color: #737f8d;
  }
  .SearchBar__find-btn {
    color: #99aab5;
  }
}
