.ProfileStatic {
  padding: 20px 30px;
  display: flex;
  max-width: 1000px;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.ProfileStatic__single-item__title {
  color: #c2c2c2;
}

.ProfileStatic__single-item__sub-title {
  font-size: 2.4rem;
  color: #fff;
}

.ProfileStatic__single-item__compare {
  color: #a3a3a3;
}
