@import "themes/ProfileStatic--dark";
@import "themes/ProfileStatic--light";

.ProfileStatic {
  padding: 20px 30px;
  display: flex;
  max-width: 1000px;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;

  @include for-tablet-portrait-up {
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;
    margin-bottom: 50px;
  }
}

.ProfileStatic__single-item {
  margin-bottom: 20px;
  font-size: 0.8rem;
  @include for-tablet-portrait-up {
    margin-bottom: 0px;
  }
}

.ProfileStatic__single-item__sub-title {
  font-size: 2.4rem;
}
