@import "SingleGroupMessage/SingleGroupMessage";

.GroupChatMessages {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  padding-top: 10px;
  flex-grow: 2;
  height: 100%;
}
.GroupChatMessages__scroll-wrapper {
  overflow: auto;
}
