.NewsCard {
  font-family: Lato;
}

.NewsCard__image-wrapper {
  overflow: hidden;
}

.NewsCard__image {
  width: 100%;
  transition: 0.4s all ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.NewsCard__header {
  font-size: 1.3rem;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  transition: 0.2s all ease-in;

  &:hover {
    color: #747474;
  }
}

.NewsCard__sub-header {
  color: rgb(175, 172, 172);
  font-size: 1.14rem;
  font-weight: 400;
}

.NewsCard__content-article {
  margin-top: 0.8em;
  line-height: 1.6;
  font-size: 1.14rem;
  color: rgb(175, 172, 172);
}

.NewsCard__continue-button {
  cursor: pointer;
  background-color: #7289da;
  margin-top: 10px;
  color: #fff;
  display: inline-block;
  padding: 10px;
  font-size: 1rem;

  .fas {
    padding-left: 5px;
    font-size: 0.9rem !important;
    transition: 0.2s all ease-in;
  }
}

.NewsCard__continue-button:hover {
  .fas {
    padding-left: 15px;
  }
}
