.ThemeDark {
  .CompaniesModal {
    background-color: #202225;
  }
  .CompaniesModal__search-btn-wrapper__search {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.3);
    color: #f6f6f7;
  }
}
