$dark-btn-color: #bd0e4b;

.ThemeLight {
  .ProfileSingleCompanyList {
    background-color: #f5f5f5;
    border-bottom: 2px solid rgb(194, 191, 191);
    color: black;
  }

  .ProfileSingleCompanyList__action-btn--dark {
    background-color: $dark-btn-color;
    color: #fff;

    &:hover {
      background-color: darken($dark-btn-color, 3%);
    }
  }
}
