@import "themes/Charts--dark";
@import "themes/Charts--light";

.Charts__header {
  padding: 8px;
  background-color: rgb(44, 46, 51);
  font-size: 0.9rem;
  color: rgb(108, 109, 111);
  font-family: Lato;

  i {
    font-size: 1rem;
  }
  span {
    margin-left: 5px;
    color: rgb(166, 166, 168);
  }
}
