.LandingFooter {
  background-color: #071144;
}

.LandingFooter__main-area {
  border-top: 1px solid#101b53;
  padding-top: 84px;
  padding-bottom: 54px;
  text-align: center;
  color: #b6c1fa;
  font-size: 1rem;
  font-weight: 500;
  @media (max-width: 767px) and (min-width: 480px) {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  @media (max-width: 480px) {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0.875rem;
  }
}
