.ThemeLight {
  .EditProfilePage {
    color: $color-text-light;
    background-color: $color-bg-light;

    &__content {
      background-color: $color-content-light;
    }

    &__btn {
      background-color: $color-content-light;
      color: $color-text-light;

      &:hover {
        background-color: rgba($color-content-light, 0.5); //rgb(39, 65, 160);
        color: $color-text-light;
      }
    }
  }

  option {
    background-color: white;
  }

  header {
    background-color: $color-secondary-light;
  }

  .info {
    &__input {
      color: $color-text-light;
    }
  }

  .edit {
    outline: 1px solid $color-primary-light;
  }
}
