.ThemeDark {
  .EditProfilePage {
    color: $color-text-dark;
    background-color: $color-bg-dark;

    &__btn {
      background-color: $color-secondary-dark;
      color: $color-text-dark;

      &:hover {
        background-color: rgba($color-secondary-dark, 0.5); //rgb(39, 65, 160);
        color: $color-text-dark;
      }
    }
  }

  .EditProfilePage__image-upload-btn {
    background-color: $color-secondary-dark;
    color: $color-text-dark;

    &:hover {
      background-color: rgba($color-secondary-dark, 0.7); //rgb(39, 65, 160);
      color: $color-text-dark;
    }
  }
  option {
    background-color: black;
  }

  header {
    background-color: $color-primary-dark;
  }

  .info {
    &__input {
      color: #aaaaaa;
      background-color: #303030;
    }
    &__row {
    }
    &__label {
      color: #bebebe;
    }
  }

  .edit {
    outline: 1px solid $color-primary-dark;
  }
}
