.ThemeDark {
  .ProfileStatic__single-item__title {
    color: #c2c2c2;
  }

  .ProfileStatic__single-item__sub-title {
    color: #fff;
  }
  .ProfileStatic__single-item__compare {
    color: #a3a3a3;
  }
}
