@import "SingleGroupChannel/SingleGroupChannel";
@import "AddGroupChannel/AddGroupChannel";
.GroupChannelLists {
  background-color: $chat-primary-black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 70px;
  padding: 10px 0 10px 0px;
}

.GroupChannelLists__scrollwrap {
  width: 88px;
  overflow-x: hidden;
  overflow-y: scroll;
}
