$chat-primary-black: #202225;
$chat-primary-blue: rgb(114, 137, 218);
$chat-light-black: #2f3136;
$chat-light-text: #72767d;

$primary-dark-color: #202225;
$light-dark-color: #2f3136;
$primary-purple: rgb(114, 137, 218);

// dark theme colors
$color-secondary-dark: rgb(114, 137, 218);
$color-primary-dark: #202225;
$color-text-dark: white;
$color-bg-dark: #181712;
$color-content-dark: #5f5f5c;

// light theme colors
$color-primary-light: #eff0f3;
$color-secondary-light: $color-secondary-dark;
$color-text-light: black;
$color-bg-light: #bebeb8;
$color-content-light: rgb(250, 246, 246);

$light-blue: #e6ecf5;

$landing-purple: #304ffe;

//Necessary width
$sidenav-appear-width: 1020px;