.ThemeLight {
  .OnlineOfflineGroupMembers {
    background-color: #f3f3f3;
  }

  .OnlineOfflineGroupMembers__header {
    background-color: #fff;
    color: #4f545c;
    box-shadow: 0 1px 0 #eceeef, 0 2px 0 rgba(236, 238, 239, 0.25);
  }

  .OnlineOfflineGroupMembers__sub-header {
    color: #99aab5;
  }

  //Online Group Member Component
  .OnlineGroupMember {
    color: #72767d;
  }

  //Offline Group Member Component
  .OfflineGroupMember {
    color: #72767d;
  }
}
