@import "CompaniesModal/CompaniesModal";
@import "LastMessages/LastMessages";

.Header {
  font-family: Lato;
}

.Header__building {
  font-size: 1.2rem;
}

.Header__group-chat {
  font-size: 1.3rem;
}

.Header__find-people {
  font-size: 1.23rem;
}
