.AddGroupChannel {
  color: #fff;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1rem;
  line-height: 50px;
  text-align: center;
  margin-top: 8px;
  margin-left: 10px;
  font-family: Lato;
  transition: 0.5s all;
  position: relative;
  border-radius: 50%;
  background-color: #202225;
  border-color: #535559;
  color: #535559;
  border-style: dashed;
  border-width: 1px;
  transition: 0.5s all;
}

.AddGroupChannel:hover {
  border-color: #fff;
  color: #fff;
}
