@import "themes/ProfileMainArea--dark";
@import "themes/ProfileMainArea--light";
@import "ProfileMainAuthorArea/ProfileMainAuthorArea";
@import "ProfileMainCompanyList/ProfileMainCompanyList";
@import "ProfileStatic/ProfileStatic";

.ProfileMainArea {
  font-family: Poppins;
  width: 100%;
}

.ProfileMainArea__header {
  min-height: 53px;
}
