@import "themes/ProfileSingleCompanyList--dark";
@import "themes/ProfileSingleCompanyList--light";

.ProfileSingleCompanyList {
  display: flex;
  padding: 13px 20px;
  height: 60px;
  justify-content: space-between;
  font-family: Lato;
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
}

.ProfileSingleCompanyList__name {
  align-self: center;
  width: 100%;
  max-width: 400px;
}

.ProfileSingleCompanyList__action-btn {
  background-color: $primary-purple;
  padding: 5px 20px;
  font-weight: 500;
  color: #fff;
  user-select: none;
  cursor: pointer;
  transition: 0.5s all;
  box-sizing: border-box;
  &:hover {
    background-color: darken($primary-purple, 3%);
  }
}

.ProfileSingleCompanyList__action-btn--dark {
  padding: 5px 10px;
}
