.SingleWork {
  text-align: center;
}

.SingleWork__image-wrapper {
  width: 122px;
  height: 122px;
  margin: 0 auto;
  border-radius: 20px;
  text-align: center;
  background-image: -webkit-linear-gradient(
    90deg,
    rgb(3, 15, 109) 0%,
    rgb(84, 56, 166) 100%
  );
}

.SingleWork__image-wrapper__image {
  max-width: 100%;
  height: auto;
  padding-top: 20px;
  margin: 0 auto;
}
.SingleWork__title {
  font-size: 1.3rem;
  color: #fff;
  line-height: 70px;
  font-weight: 700;
  margin-top: 10px;
}
.SingleWork__sub-title {
  font-size: 1rem;
  line-height: 30px;
  color: #b6c1fa;
  padding: 0 63px;
  margin-top: -5px;
}
