@import "GroupChannelLists/GroupChannelLists";
@import "GroupChannelInfo/GroupChannelInfo";
@import "GroupMainChat/GroupMainChat";
@import "OnlineOfflineGroupMembers/OnlineOfflineGroupMembers";
@import "CreateGroupChannel/CreateGroupChannel";

.GroupChat {
  display: flex;
  font-family: Lato;
  height: 100vh;
}

.GroupChat__left-nav-wrapper {
  transition: transform 0.4s ease, top 0.4s ease;
  overflow: hidden;
  display: flex;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
}

.GroupChat__left-nav-wrapper--shrink {
  transform: translateX(-100%);
}
.GroupChat__left-nav-placeholder {
  min-width: 0px;
  transition: 0.4s all ease-out;

  @include for-tablet-landscape-up {
    min-width: 310px;
  }
}

.GroupChat__left-nav-placeholder--shrink {
  min-width: 0px;
}

.GroupChat__expand-left-nav-btn {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #2f3136;
  color: #fff;
  text-align: center;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  position: absolute;
  top: 10%;
  left: 0;
  cursor: pointer;
  z-index: 9999;
}
