@import "GroupChannelLists/GroupChannelLists";
@import "GroupChannelInfo/GroupChannelInfo";
@import "GroupMainChat/GroupMainChat";
@import "OnlineOfflineGroupMembers/OnlineOfflineGroupMembers";
@import "CreateGroupChannel/CreateGroupChannel";

.GroupChat {
  display: flex;
  font-family: Lato;
  height: 100vh;
}
