@import "SideNavItem/SideNavItem";

.NewsSideNav {
  background-color: #202225;
  height: 100%;
  min-width: 300px;
  font-family: Roboto;
  font-size: 0.9rem;
}

.NewsSideNav__title {
  padding: 15px 20px;
  color: rgb(117, 114, 114);
  font-weight: 600;
}
