@import "themes/StockTable--light";
@import "themes/StockTable--dark";

.StockTable {
  font-family: Lato;
}

.StockTable__container {
  overflow-x: auto;
  transition: 0.3s;
  border-radius: 3px;
}

.StockTable__header {
  padding: 8px;
  font-size: 0.9rem;
  font-family: Lato;

  i {
    font-size: 1rem;
  }
  span {
    margin-left: 5px;
  }
}

.StockTable {
  table {
    width: 100%;
    border-collapse: collapse;
  }

  thead {
    font-size: 0.8rem;
  }

  th,
  td {
    text-align: center;
    padding: 0.5rem;

    &.price__change--green {
      color: rgb(11, 214, 11);
    }
    &.price__change--red {
      color: rgb(230, 56, 56);
    }
  }
}
