.MessageRequest {
  margin-top: 5px;
  border-bottom: 1px solid #e6ecf5;
  padding: 25px;
  padding-top: 0px;
  width: 250px;
  font-family: Lato;
  display: flex;
}

.MessageRequest__author-thumb {
  height: 34px;
  width: 34px;
  display: inline-block;
}
.MessageRequest__author-image {
  border-radius: 100%;
  overflow: hidden;
  width: 100%;
  height: auto;
  display: inline-block;
}
.MessageRequest__notification-event {
  width: 75%;
  font-size: 12px;
  padding-left: 15px;
  display: inline-block;
  vertical-align: top;
}

.MessageRequest__sender-name {
  font-size: 14px;
  font-weight: 700;
  transition: all 0.15s ease;
  cursor: pointer;
}

.MessageRequest__notification-icon {
  display: inline-block;
  vertical-align: top;
}
