@import "OnlineGroupMember/OnlineGroupMember";
@import "OfflineGroupMember/OfflineGroupMember";
@import "themes/OnlineOfflineGroupMembers--dark";
@import "themes/OnlineOfflineGroupMembers--light";

.OnlineOfflineGroupMembers {
  display: flex;
  flex-direction: column;
  min-width: 240px;
  font-family: Roboto;
}
.OnlineOfflineGroupMembers__header {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 8px 0 12px;
}

.OnlineOfflineGroupMembers__header__text {
  font-weight: 700;
  font-size: 1rem;
}

.OnlineOfflineGroupMembers__sub-header {
  font-size: 0.75rem;
  font-weight: 500;
  height: 40px;
  letter-spacing: 0.08em;
  line-height: 20px;
  padding-left: 16px;
  padding-right: 8px;
  padding-top: 20px;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}
