.ThemeDark {
  .ProfileMainCompanyList__header {
    color: #c2c2c2;
  }

  .ProfileMainCompanyList__single-item__company-name {
    color: #b9b1a1;
  }

  .ProfileMainCompanyList__message {
    color: #b9b1a1;
  }
}
