.ThemeLight {
    color: #2f3136;
    th {
        background-color: white;
    }
    tr {
        &:nth-child(even) {
            background-color: #f9f9f9;
        }
        &:hover {
            background-color: #ebebeb;
        }
    }
}
